@import url("https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap");

body {
  font-family: "Bitter", serif;
  background: #ebeff5;
}

.bg-green {
  background-color: #ff686b;
}

.initial {
  padding: 8px 8px;
  width: 50px;
  background: #a5ffd6;
  color: #ff686b !important;
  border: none;
  border-radius: 40px;
  text-align: center;
  font-weight: bold;
}

.btn-icon {
  font-size: 1.6rem;
  margin: 0.2rem 0;
  color: black;
}

form {
  background-color: white;
  padding: 2rem 3rem;
}

article {
  background: white;
  padding: 1rem 2rem;
}

.blog-link:hover {
  text-decoration: none;
}
